<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Transport Security Settings</key>
	<dict>
		<key>Allow Arbitrary Loads</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>云智校商家端</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.finerit.yunzhixiao-business-client</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zhifubao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>payDemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx58fbd34964417acc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101550785</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ060D8AC1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3014452965</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ060D8AC1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqq</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>2a2d128faa584</string>
	<key>MOBAppSecret</key>
	<string>4c2e0b909668f7869a2a7e2477419d26</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>APP需要您的同意，才能访问蓝牙配对硬件，如禁止将无法配对硬件</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许App使用日历？允许后您将可以查看当前日历信息</string>
	<key>NSCameraUsageDescription</key>
	<string>APP需要您的同意，才能访问相机进行拍照保存保存图片上传，如禁止将无法拍照保存图片上传</string>
	<key>NSContactsUsageDescription</key>
	<string>APP需要您的同意，才能访问通讯录识别用户，如禁止将无法识别用户</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>APP需要您的同意，才能访问定位位置附展示校园圈中附近的人，如禁止将无法看到校园圈中附近的人</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>APP需要您的同意，才能访问定位位置附展示校园圈中附近的人，如禁止将无法看到校园圈中附近的人</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>是否允许App使用您的麦克风？允许后您将能在社区使用录音功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>APP需要您的同意，才能访问相册进行选择照片上传/发布信息，如禁止将无法上传选择照片上传/发布信息</string>
	<key>NSSpeechRecognitionUsageDescri</key>
	<string>是否允许app使用语音识别？允许后您将能在聊天中使用语音识别</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>是否允许app使用语音识别？允许后您将能在聊天中使用语音识别</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XG_ACCESS_ID</key>
	<string>2200353056</string>
	<key>XG_ACCESS_KEY</key>
	<string>I2E7W44Y2SXT</string>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
